<h1>New Trade</h1>


<!-- <%= form_for @trade do |f| %>
  <%= f.label :company_symbol %>
  <%= f.text_field :company_symbol %>
  <%= f.label :number_of_shares %>
  <%= f.text_field :number_of_shares %>
  <%= f.label :trade_type %>
  <%= f.text_field :trade_type %>
  <%= f.submit "Make a Trade" %>
<<<<<<< HEAD:app/views/trade/new.html.erb
  
<% end %>
=======
<% end %> -->
>>>>>>> 344f87087c44e59897ca4c0efbfc24ab5ceb7071:app/views/api/trade/new.html.erb
