<header id="header2" class="row">
  <h2 id="logo" class="col-xs-10" style="font-family: 'Titillium Web', sans-serif;">Position <i class="fa fa-line-chart"></i></h2>
    <span role="presentation" class=" dropdown navbar-text">
      <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= @user.username %> <i class="glyphicon glyphicon-user"></i><i class="caret"></i>
      </span>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Settings</a></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Log Out', '/sessions', method: :destroy %></li>
      </ul>
    </span>
</header>

<div class="container">
<h2>Please Register</h2>

<%= form_for @user do |f| %>
<form class="form register-form" action="/users" method="post">
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" name="user[username]" placeholder=" ">
  </div>
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Password</span>
    <input type="password" class="form-control" name="user[password]" placeholder=" ">
  </div>
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Confirm Password</span>
    <input type="password" class="form-control" name="user[password_confirmation]" placeholder=" ">
  </div>
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Email</span>
    <input type="text" class="form-control" name="user[email]" placeholder=" ">
  </div>
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Phone</span>
    <input type="text" class="form-control" name="user[phone]" placeholder=" ">
  </div>
  <div class="register-form input-group col-xs-4">
    <span class="input-group-addon">Profile Image</span>
    <input type="url_field" class="form-control" name="user[profile_image]" placeholder=" ">
  </div>
  <input type="hidden" name="user[cash]" value="5000">
  <input type="hidden" name="user[portfolio_value]" value="0">
  <input type="hidden" name="user[net_worth]" value="5000">
  <input type="hidden" name="user[open_net_worth]" value="5000">
  <input type="hidden" name="user[days_gain]" value="0">
  <a href="#"><input class="btn btn-primary" type="submit" value="Register"></a>
</form>
<% end %>

<!-- <%= form_for @user do |f| %>

  <%= f.label :username, :class => 'input-group-addon' %>
  <%= f.text_field :username, :class =>'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :phone %>
  <%= f.telephone_field :phone %>
  <%= f.label :profile_image %>
  <%= f.url_field :profile_image %>
  <%= f.hidden_field :cash, :value => 5000 %>
  <%= f.submit 'Register'%>

<% end %> -->

<%= link_to 'Already signed up? Log in here', log_in_path %>
</div>
