<input type="hidden" id="api-token" value="<%= @user.token %>">

<header id="header2" class="row">
  <h2 id="logo" class="col-xs-10">Position</h2><span class="navbar-text">Signed in as <%= @user.username %> <i class="glyphicon glyphicon-user"></i><i class="caret"></i></span>
  <!-- <ul class="dropdown-menu">
    <li><%= button_to 'Log Out', '/sessions', method: :destroy %></li>
  </ul> -->
</header>
<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/users/profile">My Profile <span class="sr-only">(current)</span></a></li>
          <li><a href="/users/stock_lookup">Stock Lookup</a></li>
          <li class="active"><a href="/users/trade">Trade</a></li>
          <li><a href="/users/positions">Positions</a></li>
          <li><a href="/users/market_research">Market Research</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Stock" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
            </div>
          </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h2>Trade</h2>

  <form class="navbar-form create-trade" action="/api/trades" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="trade-form input-group col-xs-4">
    <span class="input-group-addon" id="basic-addon2">Stock</i></span>
    <input id="company-symbol" type="text" class="form-control" name="trade[company_symbol]" placeholder="Enter Company Symbol">
  </div><br>
  <div class="trade-form input-group col-xs-4">
    <span class="input-group-addon" id="basic-addon2">Quantity</i></span>
    <input id="number-of-shares" class="form-control" type="number" name="trade[number_of_shares]" placeholder="Enter Number of Shares">
  </div><br>
  <div class="trade-form input-group">
    <span class="input-group-addon" id="basic-addon2">Action</i></span>
    <select id="trade-type" class="form-control" name="trade[trade_type]">
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>
    </select>
    <input type="hidden" name="token" value="<%=@user.token%>"/>
  </div>
    <br>
    <input class="trade-form btn btn-primary" type="submit" value="Preview Order"></a>
  </form>
</div>
