<h3>Show Page</h3>

<ul>
  <li>
    Company Symbol: <%= @trade.company_symbol %>
  </li>
  <li>
    Purchase Price: <%= @trade.share_purchase_price %>
  </li>
  <li>
    Latest Price: <%= @last_price %>
  </li>
  <li>
    Today's Dollar Change: <%= @dollar_change %>
  </li>
  <li>
    Today's Change Percent: <%= @change_percent %>
  </li>



</ul>
