<!DOCTYPE html>
<html>
<head>
  <title>Position</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <% if current_user %>
  <header id="header2" class="row">
    <h2 id="logo" class="col-xs-10">Position</h2>
      <span role="presentation" class=" dropdown navbar-text">
        <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= @user.username %> <i class="glyphicon glyphicon-user"></i><i class="caret"></i>
        </span>
        <ul class="dropdown-menu">
          <li><a href="#">Edit Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Log Out', '/sessions', method: :destroy %></li>
        </ul>
      </span>
  </header>
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/users/profile">My Profile <span class="sr-only">(current)</span></a></li>
            <li><a href="/users/stock_lookup">Stock Lookup</a></li>
            <li><a href="/users/trade">Trade</a></li>
            <li><a href="/users/positions">Positions</a></li>
            <li><a href="/users/market_research">Market Research</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Stock" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
              </div>
            </form>
          </ul>
        </div>
      </div>
  </nav>


  <% end %> -->

<%= yield %>

</body>
</html>
