<!DOCTYPE html>
<html>
<head>
  <title>Position</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <header id="header" class="row">
    <h2 id="logo" class="col-xs-8">Position(Logo)</h2>
    <span class="login btn btn-default col-xs-1"><%= link_to 'Log In', log_in_path %></span>
    <span class="register btn btn-default col-xs-1"><%= link_to 'Sign Up', register_path %></span>
  </header> -->

<%= yield %>

</body>
</html>
