<!DOCTYPE html>
<html>
<head>
  <title>Position</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <header id="header2" class="row">
    <h2 id="logo" class="col-xs-10">Position</h2>
      <span role="presentation" class=" dropdown navbar-text">
        <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= @user.username %> <i class="glyphicon glyphicon-user"></i><i class="caret"></i>
        </span>
        <ul class="dropdown-menu">
          <li><a href="#">Edit Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Log Out', '/sessions', method: :delete  %></li>
        </ul>
      </span>
  </header>
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/users/profile">My Profile <span class="sr-only">(current)</span></a></li>
            <li><a href="/users/stock_lookup">Stock Lookup</a></li>
            <li><a href="/users/trade">Trade</a></li>
            <li><a href="/users/positions">Positions</a></li>
            <li><a href="/users/market_research">Market Research</a></li>
            <li><a href="/users/index">Leaderboard</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Stock" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
              </div>
            </form>
          </ul>
        </div>
      </div>
  </nav>

  <script type="text/template" id="trade-template">
    <td class='company' data-symbol="<%%=company_symbol%>">
      <%%= company_symbol %>
    </td>
    <td class="shares" data-shares="<%%=number_of_shares%>">
      <%%= number_of_shares %>
    </td>
    <td>
      $<%%= parseFloat(basis).toFixed(2) %>
    </td>
    <td class ="current-price" id="<%%= company_symbol %>">
    </td>
    <td class="totalValue">

    </td>
    <td>
      <button id="buy-button" type='button' class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#buyModal">Buy</button>
    </td>
    <td>
      <button id="sell-button" class="sell-button btn btn-primary btn-lg"
      data-symbol="<%%=company_symbol%>" data-shares="<%%=number_of_shares%>" data-toggle="modal" data-target="#sellModal">Sell</button>
    </td>

  </script>
  <script type="text/template" id="stock-template">
    <td>
      <%%= company_symbol %>
    </td>
    <td>
      <%%= last_price %>
    </td>

  </script>
  <script type="text/javascript">
  function getStock(stock) {
    $.ajax({
      url: 'http://dev.markitondemand.com/Api/v2/Quote/jsonp',
      data: {'symbol': stock},
      jsonp: "callback",
      dataType: "jsonp",
      success: function(ds){
        drawHtml(ds);
      }
    });
    return false;
  }
  function submitForm() {
    stock = $('#stock_search').val();
    getStock(stock);
    return false;
  }

  function drawHtml(jsonResult) {
    $('#results').html("");
    $("#results").append(
    '<div class="row stock-lookup">' +
    '<div class="col-xs-6">' +
    '<h2>' + jsonResult.Name  + '</h2>' +
    '<button id="buy-button" type="button" class="btn btn-primary btn-lg"   data-toggle="modal" data-target="#buyModal">Buy</button>' +
    '<button id="sell-button" class="sell-button btn btn-primary btn-lg" data-symbol="' + jsonResult.Symbol + '" data-shares="<%%=number_of_shares%>" data-toggle="modal" data-target="#sellModal">Sell</button>' +
    '<span> Trading Symbol: ' + jsonResult.Symbol + '</span>' +
    '<h4><strong>Last: $' + jsonResult.LastPrice.toFixed(2) + '</strong></h4><h5>Day\'s Change: $' + jsonResult.Change.toFixed(2) + ' ( ' + jsonResult.ChangePercent.toFixed(2) + '% ) </h5><br>' +
    '<div class="data-point">' +
    '<strong> YTD Change: </strong>   $' + jsonResult.ChangeYTD.toFixed(2)  +
    ' ( ' + jsonResult.ChangePercentYTD.toFixed(2)  + '% ) </div>' +
    '<div class="data-point">' +
    '<strong> Open: </strong>   $' + jsonResult.Open.toFixed(2)  + '</div>' +
    '<div class="data-point">' +
    '<strong> High: </strong>   $' + jsonResult.High.toFixed(2)  + '</div>' +
    '<div class="data-point">' +
    '<strong> Low: </strong>   $' + jsonResult.Low.toFixed(2)  + '</div>' +
    '<div class="data-point">' +
    '<strong> Volume: </strong>   ' + jsonResult.Volume  + '</div></div>' +
    '<div class="col-xs-6"><div id="chartDemoContainer"></div></div>'
    );
    return false;
  }
</script>



</head>
<body>

<%= yield %>

<div id="sellModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sell</h4>
      </div>
      <form class="navbar-form create-trade" action="/api/trades" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Stock</i></span>
        <input id="company-symbol" type="text" class="form-control" name="trade[company_symbol]" value="">
      </div><br>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Quantity</i></span>
        <input id="number-of-shares" class="form-control" type="number" name="trade[number_of_shares]" placeholder="Enter Number of Shares">
      </div><br>
      <div class="trade-form input-group">
        <input type="hidden" name="trade[trade_type]" value="sell">
        <input type="hidden" name="token" value="<%=@user.token%>"/>
      </div>
        <br>
        <!-- <input class="trade-form btn btn-primary" type="submit" value="Preview Order"></a> -->
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Preview Order</button>
      </div>
    </div>
  </div>
</div>

<div id="buyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buy</h4>
      </div>
      <form class="navbar-form create-trade" action="/api/trades" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Stock</i></span>
        <input id="company-symbol" type="text" class="form-control" name="trade[company_symbol]" placeholder="Enter Company Symbol">
      </div><br>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Quantity</i></span>
        <input id="number-of-shares" class="form-control" type="number" name="trade[number_of_shares]" placeholder="Enter Number of Shares">
      </div><br>
      <div class="trade-form input-group">
        <input type="hidden" name="trade[trade_type]" value="buy">
        <input type="hidden" name="token" value="<%=@user.token%>"/>
      </div>
        <br>
        <!-- <input class="trade-form btn btn-primary" type="submit" value="Preview Order"></a> -->
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Preview Order</button>
      </div>
    </div>
  </div>
</div>



<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

<script type="text/javascript">
$(document).ready(function(){
  var url = window.location;
  $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
  $('ul.nav a').filter(function() {
      return this.href == url;
  }).parent().addClass('active');
});
</script>

</body>
</html>
